* {
    margin: 0;
    box-sizing: border-box;
    padding: 0.9%;
}
body {
    font-family:'Courier New', Courier, monospace;
}

header{
    text-align: center;
}

.top-section {
    gap: 1%;
    display: flex;
}

.top-left, .top-right {
    background-color: #fba437;
    width: 100%;
    padding: 4rem;
}

.main-content {
    background-color: #dbec07;
    width: 100%;
    height: 30rem;
    font-size: 20px;
}

.middle-section {
    gap: 2%;
    display: flex;
}

.block1, .block2, .block3 {
    background-color: #4a89d0;
    height: 18em;
    width: 100%;
}

footer {
    display: flex;  
}

.footer-two1 {
    width: 100%;
    display: flex;
    gap: 1%;
    padding: 0;
}

.footer-block1, .footer-block2, .footer-block3, .footer-block4 {
    background-color: #e2e2e2;
    width: 25%;
    height: 10rem;
    margin-bottom: 0; 
}

.top-section, .main-content, .middle-section, .footer-two1 {
    margin-bottom: 1rem; 
}


@media (min-width: 768px) and (max-width: 1023px) {
    .top-section {
        flex-direction: column;
        gap: 2%; 
        margin-bottom: 2%; 
    }
    .top-left, .top-right {
        margin-bottom: 2%; 
        padding: 2rem; 
        height: 5rem; 
    }
    .main-content {
        height: 20rem; 
        margin-bottom: 2rem;
    }
    .middle-section {
        flex-direction: column;
        gap: 2%; 
        margin-bottom: 2%; 
    }
    .block1, .block2, .block3 {
        height: 8rem; 
        margin-bottom: 2%; 
    }
    footer {
        display: flex;
    }
    .footer-two1 {
        flex-direction: row;
        flex-wrap: wrap; 
        gap: 2%; 
        margin-bottom: 2%;
    }
    .footer-block1, .footer-block2, .footer-block3, .footer-block4 {
        width: 48%; 
        height: 8rem; 
        margin-bottom: 2%; 
    }
}


    @media (max-width: 767px) {
        .top-section {
            flex-direction: column;
            padding: 1%; 
            margin-bottom: 0.5rem; 
        }
    
        .top-left, .top-right {
            padding: 1rem; 
            height: 3rem;
        }
    
        .top-right {
            margin-top: 1%; 
        }
    
        .main-content {
            height: 6rem; 
            margin-bottom: 0.5rem; 
        }
    
        .middle-section {
            flex-direction: column;
            margin-bottom: 0.5rem; 
        }
    
        .block1, .block2, .block3 {
            margin-top: 1%; 
            padding: 1rem; 
            height: 10rem; 
        }
    
        footer {
            display: flex;
            flex-direction: column;
            margin-top: 1%; 
        }
    
        .footer-two1 {
            flex-direction: column;
            gap: 0.25rem; 
        }
    
        .footer-block1, .footer-block2, .footer-block3, .footer-block4 {
            width: 100%;
            height: 4rem;
            margin-bottom: 0.5rem; 
        }
    }
    